// Custom styles.
// 文章目录默认展开
.post-toc .nav .nav-child { display: block; }
// 主页文章添加阴影效果
.posts-expand {
    .post {
        margin-top: 30px;
        margin-bottom: 20px;
        padding: 25px;
        -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
        -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
    }
}

.posts-expand {
  .post-eof {
    display: none;
    margin: 60px auto 50px; //文章间距
    width: 8%;  //分割线长度
    height: 1px;
    background: $grey-light;
    text-align: center;
  }
}
